# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
stats.html

# Editor directories and files
.vscode/*
!.vscode/extensions.json
/.fleet
/.idea
/bootstrap
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local

# Yarn 3
/.yarn/*
# !/.yarn/patches
# !/.yarn/plugins
!/.yarn/releases
# !/.yarn/sdks
# !/.yarn/cache

# Special File
resources/js/meta.ts
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json

